body {
  font-family: "Raleway", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #f6dec5 !important;
}

.custom-navbar {
  background-color: #ec7777;
  max-height: 80px;
  color: #2a0e01;
  display: flex;
  align-items: center;
  padding: 0 15px;
  width: 100% !important;
}
.navLinks {
  width: 100% !important;
  padding-right: 20px;
}

.navbar-logo {
  width: auto;
  padding: 0;
  margin: 0;
  padding-right: 4rem;
}

.navbar-content {
  display: flex;
  align-items: center;
}
.navWelcome {
  display: flex;
  justify-content: end !important;
}

/* .welcome-logout-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-top: 1rem;
} */
.welcomeName {
  right: 0;
  position: absolute;
  padding-right: 1rem;
}

@media (max-width: 768px) {
  .custom-navbar {
    max-height: 120px;
  }

  .navbar-logo {
    height: 120px !important;
    margin-top: -10px !important;
    padding-right: 0 !important;
  }

  .navbar-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .welcomeName {
    position: relative;
  }

  .review-comment-container {
    flex-direction: column;
  }

  .read-more {
    margin-left: 0;
    margin-top: 5px;
  }
  .avatar-container {
    top: 0;
    right: 9px !important;
  }

  .savedFavs {
    top: 60px !important;
    right: 30px !important;
  }
  .bg-custom {
    background-color: rgb(244, 233, 218);
    margin-top: 50px !important;
  }
  .hamburger {
    max-height: 4rem;
    top: 2rem;
    right: 0;
    margin-right: 20px !important;
    position: absolute;
  }
  .profile-container {
    max-width: 150px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f6c28f;
  padding: 5px 0;
  color: white;
  color: #2a0e01;
}

#footerTerms {
  background-color: rgb(249, 247, 232);
  overflow: auto;
  padding: 10px;
  max-height: 500px;
  margin: 2rem;
}

.aboutfooter {
  padding-bottom: 5rem;
}

.content {
  margin-bottom: 120px !important; /* Adjust the margin value as needed */
}

/* wine details */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: rgb(249, 247, 232);
}

.custom-centered-card {
  margin-top: 2rem !important;
  padding-top: 10px;
  margin: auto;
  border: 3px solid #bae1ff !important;
  border-radius: 10px !important;
  padding: 10px !important;
}

.custom-button {
  display: flex;
  justify-content: end !important;
}

.card-text {
  margin-bottom: 0.5rem;
}

.card {
  border: none;
}

button {
  position: relative;
  margin-top: 10px;
  background-color: #77dd77 !important;
  border-color: #bae1ff !important;

  &:hover {
    background-color: #66bb66 !important;
    border-color: #a0d1ff !important;
    text-decoration: underline;
  }
}

.btn-danger {
  background-color: rgb(161, 37, 37) !important;

  &:hover {
    background-color: rgb(126, 25, 25) !important;
  }
}

.card-text small {
  margin: 0;
  padding: 0;
}
.muted {
  color: #999999;
  font-size: 0.8em;
}

/* profile */

.profile-container {
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  min-height: 100vh;
  background-color: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

/*_________________________________*/
/* This is the sidebar on Profile */

.profileElements {
  padding-left: 2rem !important;
  width: calc(100vw - 255px);
  /* background-color: white; */
}

/*_________________________________*/

/* wine details */

/* wine list */

#all-wine-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.search-bars-container {
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 100, "wght" 400, "GRAD" 0, "opsz" 48;
}
.wine {
  padding-bottom: 3rem;
}

.wine-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Customize shadow here */
  border-radius: 5px; /* Add rounded corners for a card-like look */
  padding: 10px; /* Add some padding for spacing */
  margin: 10px; /* Add margin to separate cards */
}

/* wine list */
.avatar-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
}

/* winefeed */
.tastingRoom {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#wineFeed {
  padding-bottom: 3rem;
}
.reviewPage {
  margin-bottom: 5rem !important;
}
/* winefeed */

/* following feed */
.friendFeed {
  padding-bottom: 4rem;
}

.reviewPage {
  padding-bottom: 4rem;
}
/* following feed */

/* singleWine */
.singleWine {
  margin-top: 5rem;
  padding-top: 4rem;
  padding-bottom: 12rem;
}

#single-wine img {
  max-width: 100%;
}

#single-wine h2 {
  font-size: 2rem;
}

#single-wine p {
  font-size: 1.2rem;
}

.single-wine-flavor,
.single-wine-avgPrice,
.single-wine-region {
  padding-left: 140px;
}
/* singleWine */

/* singleWineReview */
.avatar-username {
  text-align: center;
  padding: 5px 0;
}

.review-date {
  font-size: 14px;
  color: #aaa;
}

.rating {
  margin-top: 10px;
  margin-bottom: 15px;
}

.review-comment-container {
  display: flex;
  align-items: baseline;
}

.review-comment {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.4;

  max-width: 100%;
}

.review-comment.expanded {
  white-space: normal;
}

.read-more {
  cursor: pointer;
}
.read-less {
  cursor: pointer;
}

/* singleWineReview */
/* footer */

/* follow button */

/* Add this to your CSS file */
.btn-follow {
  border: none !important;
  text-decoration: underline;
  background-color: transparent !important;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

.heartButton {
  margin-right: -80px !important;
  padding: none !important;
}

.btn-follow:focus,
.btn-follow:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* follow button */
/* HOME START*/
.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image {
  transform: rotate(-5deg);
  width: 15px;
  height: auto;
  margin: 0 10px;
}
/* HOME END*/

/* Profile  */

.buttons {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: end;
  margin-top: 1rem;
  padding: 0.6em 2em;
  color: rgb(255, 255, 255);
  background-color: maroon;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center;
  margin: 10px;
  margin-left: 30px;
  border-width: 2px grey;
  min-width: fit-content;
}
.buttons:hover {
  text-decoration: none;
  background-color: blue;
}

.profile-username {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.user-review-date {
  display: flex;
  margin: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: smaller;
}

.profile-review-list {
  margin: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.short-input {
  width: 10px;
}

.user-review-container {
  position: relative;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
}

.user-review-container:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background-color: inherit;
  border-radius: 10px;
  z-index: -1;
}

.user-review-container:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-color: #f9f9f9;
  border-radius: 10px;
  z-index: -2;
}

.user-review-container:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: inherit;
  border-radius: 10px;
  z-index: -3;
}

.user-review-container:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-color: #f9f9f9;
  border-radius: 10px;
  z-index: -4;
}

.user-review-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  z-index: -5;
}

.user-review-content {
  position: relative;
  /* z-index: 1; */
}

/* account settings */
/* .container {
  display: flex;
  justify-content: center;

} */

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.profile-bio {
  margin-right: 1rem; /* Adjust the margin as needed */
  font-size: 14px; /* Adjust the font size as needed */
}

.centered-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

#accountSettings {
  padding-bottom: 6rem !important;
}

/* .profile-buttons {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
} */

.form-control.textarea-bio {
  max-height: 200px; /* Adjust the value as needed */
  resize: horizontal;
  width: 100%;
}

/* admin */
.avatar {
  border: none;
}
.avatar-grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr); /* 14 avatars per row */
  grid-gap: 10px; /* Adjust the gap between avatars */
  margin-bottom: 2rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .avatar-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}

.selected {
  border: 2px solid blue;
}

.wine-list-container {
  padding-bottom: 4rem !important;
}

@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie");
.review-card {
  padding: none;
  width: 15rem;
  max-width: calc(100% - 250px);
}
.note {
  color: #333;
  position: relative;
  height: auto;
  text-align: left;
  margin: 0.5rem auto;
  font-family: sans-serif;
  font-size: 1.25vw;
  text-align: center;
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
  width: fit-content;
  max-width: 300px;
  transition: transform 0.3s ease-in-out;
  /* z-index: 1; */
  border: none;
  border-radius: 10px;

  background: linear-gradient(
    165deg,
    transparent 40%,
    rgba(0, 0, 0, 0.15) 80%,
    rgba(255, 255, 255, 0.15) 90%,
    rgba(255, 255, 255, 0.15) 100%
  );
  background-color: #a5c9e6;

  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;

  border-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.75) 30%,
    rgba(0, 0, 0, 0.25) 60%,
    transparent 80%
  );

  border-image-slice: 1;
}
.note:hover {
  transform: scale(1.05);
}

.wine-image-button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  transition: transform 0.3s ease; /* Animation transition */
  border-radius: 10px; /* Add beveled edges */
  overflow: visible;
  /* width: 220px;
  height: 300px; */
}

.wine-image-button.hovered {
  transform: scale(1.05); /* Apply a slight scale increase on hover */
}

.wine-image-container {
  position: relative;
  border-radius: 10px; /* Add beveled edges */
  overflow: hidden; /* Prevent image overflow */
}

/* Add this to your existing CSS */

.edit-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  font-size: 12px; /* Adjust the font size */
  white-space: nowrap; /* Prevent text from wrapping */
  max-width: 100px; /* Adjust the maximum width */
  text-align: center;
  font-size: 12px; /* Adjust the font size */
  white-space: normal; /* Allow text to wrap */
  line-height: 1.2; /* Increase line height for two lines */
}

.wine-image-button:hover .edit-text {
  opacity: 1;
}

#admin {
  padding-bottom: 2rem;
}

.misc {
  width: 400px;
  height: 300px;
  margin: 50px auto;
  float: 0;
  position: relative;
  left: 50%;
  margin-left: -200px;
}

.review-date {
  position: absolute;
  top: 0;
  left: -10;
  padding: 0.5rem;
  background-color: #a5c9e6;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.date {
  font-size: 0.8rem;
  margin-left: -10;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.wine-name-profile {
  display: flex;
  color: purple;
}

.wine-region-profile {
  display: flex;
  justify-content: flex-start;
  color: green;
}

.wine-flavor-profile {
  display: flex;
  justify-content: flex-start;
  color: maroon;
}
.profile-username {
  font-weight: bold;
  font-size: 20px !important;
  color: #f091ad; /* Fun color */
  margin: 0;
}

/* fun-text-styles.css */

.fun-text {
  position: relative;
  font-family: "Infamy Fill", sans-serif;
  font-size: 1.5rem;
  color: #da1f57;
  margin: 1rem 0;
}

.count-text {
  font-family: "Infamy Fill", sans-serif;
  font-size: 1.5rem;
  color: #f7cad8;
  font-variant-ligatures: none;
  line-height: 1;
  font-weight: normal;
}

.count-text::after {
  content: attr(data-heading);
  position: absolute;
  font-family: "Infamy Shadow", sans-serif;
  line-height: 1.1;
  color: rgba(191, 73, 112, 0.3);
  width: 100%;
  top: 0;
  left: 0;
}

.count-text::before {
  content: attr(data-heading);
  position: absolute;
  font-family: "Infamy Outline", sans-serif;
  line-height: 1;
  color: #f7cad8;
  width: 100%;
  top: 0;
  left: 0;
}

.count-link {
  text-decoration: none;
  margin-right: 10px;
  color: darkorchid;
}

.count-link .count-text {
  color: #a0d1ff;
}

.count-container {
  margin-top: 10px;
  font-size: 5px !important;
  margin-bottom: 5px;
}

.follow-count {
  margin-left: 10px;
}

.thought-bubble {
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  max-width: max-content;
  font-size: small;
  margin-top: -10px !important;
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profile-main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container-right {
  flex: 1;
}

.img-fluid {
  height: 200px;
  width: 200px;
  object-fit: contain;
  object-position: center center;
}

.profile-username {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.user-location {
  font-size: 0.9rem;
  color: #777;
}

.thought-bubble {
  font-style: italic;
  color: #333;
}

.buttons {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}

.buttons:hover {
  background-color: #0056b3;
}

.col-md-6 {
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 20px;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.arc path {
  transition: fill 0.3s;
}

.arc text {
  font-size: 12px;
  text-anchor: middle;
}
.user-info-container {
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  margin-left: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: max-content;
}

.user-details {
  margin-left: 20px;
}

.user-location {
  margin-top: 5px;
}

.user-bio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* .profileOverview {
  background-color: white;
} */

.profile-overview-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.profile-overview-left-container,
.profile-overview-right-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.container-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  width: auto;
  height: fit-content;
}

.bottom-left .container-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileLinks {
  text-decoration: none;
}

.profile-review-sidebar {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.profile-review-sidebar a {
  color: #007bff;
  text-decoration: none;
}

.profile-review-sidebar a:active {
  color: #721c24;
  text-decoration: underline;
}

.profile-favorites-sidebar {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.profile-favorites-sidebar a {
  color: #007bff;
  text-decoration: none;
}

.profile-favorites-sidebar a:active {
  color: #721c24;
  text-decoration: underline;
}

.profile-favorites-sidebar {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.profile-favorites-sidebar a {
  color: #007bff;
  text-decoration: none;
}

.profile-favorites-sidebar a:active {
  color: #721c24;
  text-decoration: underline;
}

.note.selected {
  position: relative;
  transform: translateY(-50px);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.note.selected:hover {
  transform: translateY(0);
  z-index: 2;
}

.profile-overview-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gear-container {
  position: relative;
  display: inline-block;
}

.gear-image {
  margin-top: -50px;
  margin-bottom: -10px;
  transition: transform 0.3s ease;
  cursor: pointer; /* Add a cursor pointer to indicate it's clickable */
}

.gear-text {
  position: absolute;
  top: 21px;
  left: 80%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  display: inline;
}

.gear-container:hover .gear-text {
  opacity: 1;
  visibility: visible; /* Make the text visible on hover */
}

.gear-container:hover .gear-text:hover {
  opacity: 0; /* Hide the text after a delay */
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s 0s; /* Delay the text disappearance */
}

.spin-once {
  animation: spin 0.5s linear 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
