body {
  font-family: "Raleway", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #f6dec5 !important;
}

.custom-navbar {
  background-color: #f6c28f;
  color: #2a0e01;
}

.nav-link-spaced {
  padding-left: 20px !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f6c28f;
  padding: 20px 0;
  color: white;
  text-align: center;
  color: #2a0e01;
}


.content {
  margin-bottom: 120px !important; /* Adjust the margin value as needed */
}

/* wine details */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #f8f9fa;
}

.card-text {
  margin-bottom: 0.5rem;
}

.card {
  border: none;
}

button {
  position: relative;
  margin-top: 10px;
}

.card-text small {
  margin: 0;
  padding: 0;
}
.muted {
  color: #999999;
  font-size: 0.8em;
}

/* wine details */

/* wine list */

#all-wine-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.search-bars-container {
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 100, "wght" 400, "GRAD" 0, "opsz" 48;
}
.wine{
  padding-bottom: 3rem;
  }

/* wine list */

/* winefeed */
.tastingRoom {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.review{
padding-bottom: 5rem;
}
/* winefeed */

/* following feed */
.friendFeed {
  padding-bottom: 4rem;
}
/* following feed */

/* singleWine */
#single-wine {
  margin-top: 2rem;
}

#single-wine img {
  max-width: 100%;
}

#single-wine h2 {
  font-size: 2rem;
}

#single-wine p {
  font-size: 1.2rem;
}

.single-wine-flavor,
.single-wine-avgPrice,
.single-wine-region {
  padding-left: 140px;
}
/* singleWine */

/* singleWineReview */
.avatar-username {
  text-align: center;
  padding: 5px 0;
}

.review-date {
  font-size: 14px;
  color: #aaa;
}

.rating {
  margin-top: 10px;
  margin-bottom: 15px;
}

.review-comment {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.4;
}
/* singleWineReview */

/* follow button */

/* Add this to your CSS file */
.btn-follow {
  border: none !important;
  text-decoration: underline;
  background-color: transparent !important;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

.btn-follow:focus,
.btn-follow:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* follow button */
/* HOME START*/
.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image {
  transform: rotate(-5deg);
  width: 15px;
  height: auto;
  margin: 0 10px;
}
/* HOME END*/


/* Profile  */

.buttons {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: end;
  margin-top: 1rem;
  padding: 0.6em 2em;
  color: rgb(255, 255, 255);
  background-color: maroon;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center;
  margin: 10px;
  margin-left: 30px;
  border-width: 2px grey;
  min-width: fit-content;
}
.buttons:hover {
  text-decoration: none;
  background-color: blue;
}

.img-fluid {
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
  border-radius: 100px;
  margin: 20px;
}

.profile-username {
  display: flex;
  margin: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.user-review-date {
  display: flex;
  margin: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: smaller;
}

.profile-review-list {
  margin: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.short-input {
  width: 10px;
}

/* account settings */
.container {
  display: flex;
  justify-content: center;
}

.form-control.textarea-bio {
  max-height: 200px; /* Adjust the value as needed */
  resize: horizontal;
  width: 100%;
}

/* admin */
.avatar {
  border: none;
}

.selected {
  border: 2px solid blue;
}
