body {
  font-family: "Raleway", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#navbar {
  font-family: "Poller One", Arial, sans-serif;
  background-color: rgb(20, 20, 20);
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

}

#username {
  align-content: baseline;
  position: absolute;
  right: 10px;
  font-size: 1.5rem;
}

.links {
  display: flex;
  justify-content: flex-end;
  max-height: 100%;
  padding: 3px;
  color: white;
  font-weight: bold;
  font-size: larger;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.linkBar {
  position: relative;
  top: 30px;
  padding: 20px;
  text-decoration: none;
  margin: 15px;
  color: white;
}
.linkBar:hover {
  color: yellow;
  text-decoration: none;
}

/* #navbar div {
  padding: 5px;
} */

#footer {
  display: flex;
  min-height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 2px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/* wine details */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #f8f9fa;
}

.card-text {
  margin-bottom: 0.5rem;
}

.card {
  border: none;
}

button {
  position: relative;
  margin-top: 10px;
}

.card-text small {
  margin: 0;
  padding: 0;
}
.muted {
  color: #999999;
  font-size: 0.8em;
}




/* wine details */


/* wine list */

#all-wine-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* wine list */

/* winefeed */
.tastingRoom {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* winefeed */

/* singleWine */
#single-wine {
  margin-top: 2rem;
}

#single-wine img {
  max-width: 100%;
}

#single-wine h2 {
  font-size: 2rem;
}

#single-wine p {
  font-size: 1.2rem;
}

.single-wine-flavor,
.single-wine-avgPrice,
.single-wine-region {
  padding-left: 140px;
}
/* singleWine */

/* singleWineReview */
.avatar-username {
  text-align: center;
  padding: 5px 0;
}

.review-date {
  font-size: 14px;
  color: #aaa;
}

.rating {
  margin-top: 10px;
  margin-bottom: 15px;
}

.review-comment {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.4;
}
/* singleWineReview */

/* follow button */

/* Add this to your CSS file */
.btn-follow {
  border: none !important;
  text-decoration: underline;
  background-color: transparent !important;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

.btn-follow:focus,
.btn-follow:hover {
  background-color: transparent !important;
  box-shadow: none !important;

}


/* follow button */
